a{
    color: #000000;
}
a div:hover{
    background-color: rgba(152, 231, 252, .5);
}
/*Promotion Styling*/
#promotion{
    border: 0.2rem solid rgba(149, 232, 252, .5);
    width: 90%;
    margin: 0 auto;
    height: 50vw;
    margin-top: 1%;
    background-image: url("../images/promotion/promo1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#promotion div{
    /* indicate the cnumber and current image for promotion
    use JavaScript to make it dynamic*/
    display: inline-block;
    margin-right: 1%;
    position: relative;
    top: 80%;
    left: 50%;
    background-color: #FFFFFF;
    border-radius: 100%;
    height: 2%;
    width: 1%;
}

/* Top sale section style*/
h2.promotion{
    display: block;
    background-color: rgba(0, 128, 0, .8);
    color: #FFFFFF;
    text-align: center;
    margin: 1% 0 0 0;
    padding: 0.25% 0px;
    /*border: 0px;*/
    font-size: 1em;
    font-style: oblique;
    line-height: 1em;
}
#top-sale{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 45vw;
    margin: 0;
}
#top-sale div{
    display: inline-block;
    margin-left: 1%;
    overflow: hidden;
    padding: 0;
    width: 30vw;
    height: 100%;
}
#top-sale  div > img, #product  div > img{/*Including product image size*/
    height: 50%;
    width: 100%;
}
#top-sale span{
    display: block;
    text-align: center;
    white-space: normal;
    font-size: 0.5em;
}

/* Main Product display */
#product div{
    display: inline-block;
    margin: 0 auto 0 4%;
    padding: 0;
    width: 45%;
    height: 30vw;
    font-size: 0.7em;
    float: left;
}
/* #product image and top sale image share same size properties.*/
#product span{
    display: block;
    text-align: center;
}

/* Category & filter*/
.category{
    border-bottom: 0.5vw outset rgba(0, 128, 0, .8);
    margin: 0;
    padding: 1% 0%;
    clear: both;
}
.category h2{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding-left: 0.5%;
}

/*category.css*/
.category fieldset{
    position: relative;
    top: 0vw;
    display: inline;
    padding-bottom: 0.5%;
    background-color: rgba(167, 167, 45, 0.8);
}
.category label{
    display: block;
    border: 0.1em solid rgba(88, 29, 29, 0.8);
}